<li class="sidebar-list">
    <a class="nav-link sidebar-title" href="#">
      <i data-feather="file-text"></i><span>Dashboard</span></a>
  </li>


  <li class="sidebar-list"><a class="nav-link sidebar-title" href="#"><i data-feather="users"></i><span>Administradores</span></a>
    <ul class="sidebar-submenu">
      <li><a href="administradores">Lista</a></li>
      <li><a href="administradores/cadastro">Cadastro</a></li>
    </ul>
  </li>

  <li class="sidebar-list"><a class="nav-link sidebar-title" href="#"><i data-feather="home"></i><span>Empresas</span></a>
    <ul class="sidebar-submenu">
      <li><a href="empresas">Lista</a></li>
      <li><a href="empresas/cadastro">Cadastro</a></li>
    </ul>
  </li>
  
  <li class="sidebar-list"><a class="nav-link sidebar-title" href="#"><i data-feather="briefcase"></i><span>Serviços</span></a>
    <ul class="sidebar-submenu">
      <li><a href="servicos">Listar</a></li>
      <li><a href="servicos/cadastro">Cadastro</a></li>
    </ul>
  </li>
  