<!-- start page-body -->
<div class="page-body p-t-30">
  <div class="container-fluid">
    <!-- start container-fluid -->

    <!-- start card header -->
    <div class="card">
      <div class="card-header">
        <h5>Lista de Empresas</h5>
        <span>
          Empresas são unidades de negócio podem ter um administrador e múltiplos funcionários.<br />
          Cada empresa deve ter o seu núcleo próprio de contas a receber e atendimento ao cliente.
          Somente os Administradores podem cadastrar <code>"FUNCIONÁRIOS DA EMPRESA"</code>.
        </span>
        <h6 class="font-primary"><small>* Para alterar um cadastro clique sobre o nome da empresa.</small></h6>

      </div>
        <!-- end card header  -->

        <!-- start view content  -->

        <div class="card-body">
          <div class="table-responsive">
            <table class="display" id="basic-8">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>E-mail</th>
                  <th>Telefone</th>
                  <th>Website</th>
                  <th>Admin</th>
                  <th>Desde</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="dashboard/master/empresas/cadastro/1">ObaVisto! INC.</a></td>
                  <td>atendimento@obavisto.com.br</td>
                  <td>+55 11 99999-9999</td>
                  <td><a haref="obavisto.com.br">obavisto.com.br</a></td>
                  <td><a href="dashboard/master/administradores/cadastro/1">Fernando de Jesus</a></td>
                  <td>06/02/2021</td>
                </tr>
                <tr>
                  <td><a href="dashboard/master/empresas/cadastro/2">Kioski Visto Inter.</a></td>
                  <td>shopping.inter@obavisto.com.br</td>
                  <td>+55 11 99988-9988</td>
                  <td><a haref="obavisto.com.br">interlagos.obavisto.com.br</a></td>
                  <td><a href="dashboard/master/administradores/cadastro/2">Rebecca Abravanel</a></td>
                  <td>06/02/2021</td>
                </tr>
                <tr>
                  <td><a href="dashboard/master/empresas/cadastro/3">Mamma Mia Vistos.</a></td>
                  <td>fl.roma@obavisto.com.br</td>
                  <td>+39 06 49159999</td>
                  <td><a haref="obavisto.com.br">italia.obavisto.com.br</a></td>
                  <td><a href="dashboard/master/administradores/cadastro/3">Maximus Decimus Meridius</a></td>
                  <td>06/02/2021</td>
                </tr>
                <tr>
                  <td><a href="dashboard/master/empresas/cadastro/4">No Fence Visa.</a></td>
                  <td>fl.usa@obavisto.com.br</td>
                  <td>+1 202-456-1111</td>
                  <td><a haref="obavisto.com.br">usa.obavisto.com.br</a></td>
                  <td><a href="dashboard/master/administradores/cadastro/4">Joseph Robinette (Biden)</a></td>
                  <td>06/02/2021</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>Nome</th>
                  <th>E-mail</th>
                  <th>Telefone</th>
                  <th>Empresa</th>
                  <th>Desde</th>
                  <th>Ult.Login</th>
                </tr>
              </tfoot>
            </table>
        </div>
        </div>


        <!-- end view content  -->

        <!-- start card footer  -->
    </div>
    <!-- end card footer  -->


    <!-- end container-fluid -->
  </div>
</div>
<!-- end page-body -->
